:root {
  --fort-purple: #9d4ebb;
}

#site-header {
  background: var(--fort-purple) !important;
}

#site-header a {
  color: white !important;
}

/* Icon */
.icon-spacer {
  margin-right: 0.3em;
  position: relative;
  top: -3px;

  font-size: 1em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  color: #333;
}
